@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%; /* garante que não ultrapasse */
  box-sizing: border-box; /* padding não aumenta a largura total */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: whitesmoke ;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow-x: hidden; /* opcional, esconde overflow horizontal */
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 1rem; /* espaçamento entre links */
  flex-wrap: wrap; /* permite quebrar linha se necessário */
}
@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}

header nav a {
  margin-left: 1.5rem;
  color: whitesmoke; /* cor preta */
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

header nav a:hover {
  text-decoration: underline;
}
